.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/chist.png")
.progUserTitleWr
    .progUserItemTitle Чистюхин
        span.initial &nbsp;В.В.
        .userIO
            .userI Владимир
            .userO Викторович
    .progUserItemPosition Первый заместитель <span class="break"> </span> Председателя Банка России
