.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/danina.png")
.progUserTitleWr
    .progUserItemTitle Данина
        span.initial &nbsp;В.В.
        .userIO
            .userI Наталья
            .userO Александровна
    .progUserItemPosition Главный эксперт по рынку труда, руководитель направления клиентской эффективности hh.ru.

