.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/gabunia.png")
.progUserTitleWr
    .progUserItemTitle Габуния
        span.initial &nbsp;Ф.Г.
        .userIO
            .userI Филипп
            .userO Георгиевич
    .progUserItemPosition Заместитель <span class="break"> </span> Председателя Банка России
