.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/noname.svg")
.progUserTitleWr
    .progUserItemTitle Исаев
        span.initial &nbsp;Ю.О.
        .userIO
            .userI Юрий
            .userO Олегович
    .progUserItemPosition Заместитель <span class="break"> </span> Председателя Банка России
