.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/jukov.png")
.progUserTitleWr
    .progUserItemTitle Жуков
        span.initial &nbsp;М.А.
        .userIO
            .userI Михаил
            .userO Александрович
    .progUserItemPosition Генеральный директор <span class="break"> </span> ООО «Хэдхантер» (www.hh.ru)
