.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/lyah.png")
.progUserTitleWr
    .progUserItemTitle Лях
        span.initial &nbsp;В.В.
        .userIO
            .userI Валерий
            .userO Владимирович
    .progUserItemPosition Директор Департамента противодействия недобросовестным практикам
