.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/mamuta.png")
.progUserTitleWr
    .progUserItemTitle Мамута
        span.initial &nbsp;М.В.
        .userIO
            .userI Михаил
            .userO Валерьевич
    .progUserItemPosition Руководитель Службы по защите прав потребителей и обеспечению доступности финансовых услуг
