.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/nabi.png")
.progUserTitleWr
    .progUserItemTitle Набиуллина
        span.initial &nbsp;Э.С.
        .userIO
            .userI Эльвира
            .userO Сахипзадовна
    .progUserItemPosition Председатель Банка России
