.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/riklina.png")
.progUserTitleWr
    .progUserItemTitle Рыклина
        span.initial &nbsp;М.В.
        .userIO
            .userI Марина
            .userO Владимировна
    .progUserItemPosition Директор Департамента по связям с общественностью
