.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/skorobogatova.png")
.progUserTitleWr
    .progUserItemTitle Скоробогатова
        span.initial &nbsp;О.Н.
        .userIO
            .userI Ольга
            .userO Николаевна
    .progUserItemPosition Первый заместитель <span class="break"> </span> Председателя Банка России
