.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/terent.png")
.progUserTitleWr
    .progUserItemTitle Терентьева
        span.initial &nbsp;Т.А.
        .userIO
            .userI Татьяна
            .userO Анатольевна
    .progUserItemPosition Заместитель генерального директора по персоналу ГК&nbsp;«Росатом»
