.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/tulin.png")
.progUserTitleWr
    .progUserItemTitle Тулин
        span.initial &nbsp;Д.В.
        .userIO
            .userI Дмитрий
            .userO Владиславович
    .progUserItemPosition Первый заместитель <span class="break"> </span> Председателя Банка России
