.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/udaeva.png")
.progUserTitleWr
    .progUserItemTitle Юдаева
        span.initial &nbsp;К.В.
        .userIO
            .userI Ксения
            .userO Валентиновна
    .progUserItemPosition Первый заместитель <span class="break"> </span> Председателя Банка России
