.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/velhosh.png")
.progUserTitleWr
    .progUserItemTitle Верхошинский
        span.initial &nbsp;О.В.
        .userIO
            .userI Владимир
            .userO Вячеславович
    .progUserItemPosition Главный управляющий директор <span class="break"> </span> АО&nbsp;«Альфа-Банк»
