.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/vester.png")
.progUserTitleWr
    .progUserItemTitle Вестеровский
        span.initial &nbsp;Р.Н.
        .userIO
            .userI Руслан
            .userO Николаевич
    .progUserItemPosition Заместитель <span class="break"> </span> Председателя Банка России
