.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/vugin.png")
.progUserTitleWr
    .progUserItemTitle Вьюгин
        span.initial &nbsp;О.В.
        .userIO
            .userI Олег
            .userO Вячеславович
    .progUserItemPosition Председатель Наблюдательного совета <span class="break"> </span> ПАО&nbsp;Московская&nbsp;Биржа
