.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/zabotkin.png")
.progUserTitleWr
    .progUserItemTitle Заботкин
        span.initial &nbsp;А.Б.
        .userIO
            .userI Алексей
            .userO Борисович
    .progUserItemPosition Заместитель <span class="break"> </span> Председателя Банка России
