.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/zubarev.png")
.progUserTitleWr
    .progUserItemTitle Зубарев
        span.initial &nbsp;Г.А.
        .userIO
            .userI Герман
            .userO Александрович
    .progUserItemPosition Заместитель <span class="break"> </span> Председателя Банка России
