.spk#spk
    .tower
        .progTitleWr
            .progTitle СПИКЕРЫ
        .spkBox
            .spkRow
                .spkItem
                    include spk/verhosh
                .spkItem
                    include spk/vester
                .spkItem
                    include spk/vugin
                .spkItem
                    include spk/gabunia
                .spkItem
                    include spk/jukov
                .spkItem
                    include spk/zabotkin
                .spkItem
                    include spk/zubarev
                .spkItem
                    include spk/lyah
                .spkItem
                    include spk/mamuta
                .spkItem
                    include spk/nabiulina
                .spkItem
                    include spk/riklina
                .spkItem
                    include spk/skor
                .spkItem
                    include spk/terentyeva
                .spkItem
                    include spk/tulin
                .spkItem
                    include spk/udaeva
                .spkItem &nbsp;



