extends layout
block content
  .content#app
    .logo
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 387.16 77.67"><defs><style>.cls-1{fill:#d6d4d4;}</style></defs><title>CIB</title><g id="Слой_2" data-name="Слой 2"><g id="Слой_1-2" data-name="Слой 1"><g id="Слой_1-2-2" data-name="Слой 1-2"><g id="Слой_1-2-2-2" data-name="Слой 1-2-2"><path class="cls-1" d="M124.25,35c-5.44-1.28-10.1-2.4-10.1-6.18,0-5.08,6.25-5.63,8.94-5.63A18.22,18.22,0,0,1,131.68,25l7.48-5.5a31.4,31.4,0,0,0-16-4.6C109,14.88,104,22.37,104,29.39c0,10.1,8.75,12.2,16.53,14.06,5.44,1.31,10.15,2.43,10.15,6.28,0,2-1.18,5.29-9.07,5.29a26.66,26.66,0,0,1-15.05-4.82l-3.43,7.85c4.15,3.24,11.35,5.32,18.41,5.32,11.69,0,19.24-5.67,19.24-14.44C140.79,38.94,132,36.87,124.25,35Z"/><path class="cls-1" d="M183.61,38.39l-.48-.16.44-.24a11.15,11.15,0,0,0,6-10.22c0-7.56-6.37-12.07-17.15-12.07H150.18V62.57h23.51c11.7,0,18.13-4.51,18.13-12.69A11.43,11.43,0,0,0,183.61,38.39ZM160.32,23.5H171.1c6.79,0,8.21,3.13,8.21,5.73,0,3.77-2.84,5.73-8.21,5.73H160.32Zm0,11.45H171.1m1.83,19.8H160.32v-12h12.61c5.76,0,8.68,2,8.68,6s-2.84,6-8.68,6Z"/><polygon class="cls-1" points="226.11 23.5 236.7 15.7 201.26 15.7 201.26 62.57 236.7 62.57 236.7 54.76 211.38 54.76 211.38 42.76 232.97 42.76 232.97 34.96 211.38 34.96 211.38 23.5 226.11 23.5"/><path class="cls-1" d="M286.08,62.57,275.79,47.34c6.06-2.65,9.57-7.87,9.57-14.87,0-10.34-7.65-16.76-20-16.76H246.11V62.57h10.1V49.29h10.1l8.93,13.28ZM256.23,23.51h9c6.48,0,10.05,3.19,10.05,9s-3.57,9-10.05,9h-9Z"/><path class="cls-1" d="M339.28,58.91a8.16,8.16,0,0,1-1.8,1.57,15.3,15.3,0,0,1-2.79,1.43,21.81,21.81,0,0,1-15.25.21,15.62,15.62,0,0,1-5.59-3.53A15.27,15.27,0,0,1,310.29,53,20.66,20.66,0,0,1,309,45.68a19.45,19.45,0,0,1,1.23-7,15.79,15.79,0,0,1,3.54-5.57,16.46,16.46,0,0,1,5.64-3.67A20,20,0,0,1,327,28.05a22.46,22.46,0,0,1,3.92.32,19.24,19.24,0,0,1,3.26.83,15.93,15.93,0,0,1,2.55,1.18,7.61,7.61,0,0,1,1.67,1.2v6.88a13,13,0,0,0-1.87-2.38,13.63,13.63,0,0,0-2.6-2.06,14.51,14.51,0,0,0-3.23-1.47A11.76,11.76,0,0,0,327,32a15.06,15.06,0,0,0-5.57,1,11.47,11.47,0,0,0-4.19,2.81,12.38,12.38,0,0,0-2.64,4.35,16,16,0,0,0-.93,5.61,16.7,16.7,0,0,0,.83,5.38A12.36,12.36,0,0,0,317,55.43a11.73,11.73,0,0,0,4.09,2.91,14.42,14.42,0,0,0,5.65,1.12,16,16,0,0,0,4.34-.57,15.06,15.06,0,0,0,3.58-1.52,13.18,13.18,0,0,0,2.73-2.2,12.41,12.41,0,0,0,1.92-2.63Z"/><path class="cls-1" d="M350.85,62.88h-4.41V28.54h4.41Z"/><path class="cls-1" d="M361,62.88V28.54h14.2a18.91,18.91,0,0,1,4.56.49,9.89,9.89,0,0,1,3.42,1.5,6.65,6.65,0,0,1,2.19,2.57,8.76,8.76,0,0,1,.76,3.78q0,6.32-5.49,8.08a7,7,0,0,1,5,2.48,8.67,8.67,0,0,1,1.55,5.38,10.26,10.26,0,0,1-.94,4.56,8,8,0,0,1-2.65,3.11,11.87,11.87,0,0,1-4.23,1.77,26.25,26.25,0,0,1-5.66.56Zm13.09-19.16a10.69,10.69,0,0,0,3-.4,7.34,7.34,0,0,0,2.43-1.15,5.73,5.73,0,0,0,1.67-1.86,5.37,5.37,0,0,0,.62-2.58,4.55,4.55,0,0,0-1.8-3.94q-1.79-1.3-5.71-1.3H365.4V43.72ZM374.32,59a11.35,11.35,0,0,0,6.23-1.42,5.1,5.1,0,0,0,2.16-4.61,5.43,5.43,0,0,0-.61-2.74,4.78,4.78,0,0,0-1.72-1.74,7.52,7.52,0,0,0-2.59-.93,18.52,18.52,0,0,0-3.32-.27H365.4V59Z"/></g><path class="cls-1" d="M77.67,38.84a38.66,38.66,0,0,0-.62-7L68.7,38v.8a29.88,29.88,0,1,1-13-24.65l7.55-5.57A38.83,38.83,0,1,0,77.67,38.84Z"/><path class="cls-1" d="M69.57,15.1a38.08,38.08,0,0,1,4.65,7.72L38.84,48.89,24.06,39.62V28.48l14.78,9.24Z"/></g></g></g></svg>
    .Wr.hidden
      .voteWr(v-if="vote.length==0 && tags.length==0")
        .voteTitle() Сейчас нет активного голосования
      .voteWr(v-for="tag in tags")
        .voteTitle(v-bind:class="{left:tag.iscompl}") {{tag.title}}
          .tagBody(v-if="!tag.iscompl")
            .votingText
              input(v-if="!Uanswers['tags'+tag.id]" :id="'taginput'+tag.id" placeholder="Ваш ответ" v-on:keypress="tagInputKeyPress($event, tag)" v-model="tagAnswer['tags'+tag.id]" maxlength="30 ")
              input(v-if="Uanswers['tags'+tag.id]" :id="'taginput'+tag.id" placeholder="Ваш ответ" v-model="Uanswers['tags'+tag.id]" readonly="readonly")
            .votingButton(v-on:click="tagSend(tag, $event)" v-bind:class="{active:Uanswers['tags'+tag.id]}" style="max-width: 300px;margin: 0 auto")
              .votingButtonTitle(v-show="!Uanswers['tags'+tag.id]" :id="'btn'+tag.id" style="text-align: center;") Отправить ответ
              .votingButtonTitle(v-show="Uanswers['tags'+tag.id]" style="text-align: center;")  Ваш ответ принят
              .votingButtonSendingStatusWr
          .tagBody(v-if="tag.iscompl" style="margin-top:24px;")
            .cloudContainer(:id="'cloud'+tag.id" v-if="tag.iscompl")
            .tst(style="display:none") {{getCloud(tag)}};

      .voteWr(v-for="v in vote")
        .voteTitle(v-bind:class="{left:v.iscompl}") {{v.title}}
        .votingBox(v-if="!v.iscompl" v-bind:class="{multy:v.multy}")
          .votingButton(v-for="item in v.answers" v-on:click="voiting(item, v)" v-bind:class="{active:checkVote(item, v)}")
            .votingButtonBefore
            .votingButtonTitle {{item.title}}
              .votingButtonSubTitle(v-if="item.subTitle && item.subTitle.length>0") {{item.subTitle}}
        .votingMessage(v-if="!v.iscompl & !v.multy") Можно выбрать один вариант
        .votingMessage(v-if="!v.iscompl & v.multy") Можно выбрать несколько вариантов
        .votingConfirm.hidden(:id="'votebtn'+v.id" v-if="!v.iscompl & v.multy" v-on:click="multyVote(v, $event)" ) Голосовать
        .voteComplBox(v-if="v.iscompl")
          .votingItem(v-for="item in v.answers")
            .votingItemTitle {{item.title}}
            .votingItemRes
              .votingItemResStart {{getPercent(v.total, item.count)}}
              .votingItemResEnd(v-bind:style="{width:'calc('+getPercent(v.total, item.count)+' - 80px'}") &nbsp;
  .completeWr.hidden
      .completeText
        <svg version="1.1" class="closeBtn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
        <g><path fill="#ffffff" d="M951.5,309.3c-24.7-58.4-60-110.7-105-155.7c-45-45-97.4-80.3-155.7-105C630.3,23,566.1,10,500,10c-66.1,0-130.3,13-190.7,38.5c-58.4,24.7-110.8,60-155.7,105c-45,45-80.3,97.4-105,155.7C23,369.7,10,433.9,10,500c0,66.1,13,130.3,38.5,190.7c24.7,58.4,60,110.7,105,155.7c45,45,97.4,80.3,155.7,105C369.7,977,433.9,990,500,990c66.1,0,130.3-13,190.7-38.5c58.4-24.7,110.8-60,155.7-105c45-45,80.3-97.4,105-155.7C977,630.3,990,566.1,990,500C990,433.9,977,369.7,951.5,309.3z M500,922.5C267.1,922.5,77.5,733,77.5,500S267.1,77.5,500,77.5C732.9,77.5,922.5,267,922.5,500C922.5,733,732.9,922.5,500,922.5z M652.7,294.5C652.7,294.5,652.7,294.5,652.7,294.5l-157,157.3l-157.3-157c-13.6-13.6-35.7-13.6-49.3,0c0,0,0,0,0,0c-13.6,13.6-13.6,35.7,0,49.3l157.3,157l-157,157.3c-13.6,13.6-13.6,35.7,0.1,49.3c13.6,13.6,35.7,13.6,49.3,0c0,0,0,0,0,0l157-157.3l157.3,157c13.6,13.6,35.7,13.6,49.3,0c0,0,0,0,0,0c13.6-13.6,13.5-35.7-0.1-49.3L545,501.1l157-157.3c13.6-13.6,13.6-35.7-0.1-49.3C688.3,280.9,666.3,280.9,652.7,294.5z"/></g>
        </svg>
        .votingItem Спасибо! <br> Ваш голос принят
          .completeSubText Можно изменть свой выбор <br>до окончания голосования
  script(src="/javascripts/vue.min.js")
  script(src="/javascripts/moment.min.js")
  <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-tag-cloud.min.js"></script>
  script.
    var user = ""
  script(src="/js/mainScript.js")


