doctype html
html(lang="ru")
  head
    title sber-cib
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="vcbr">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    meta( property="og:title" content="vcbr")
    <meta property="og:site_name" content="vcbr.ru">
    <meta property="og:url" content="https://cib.sber.link/>
    <meta property="og:description" content=" ">

    <meta name="robots" content="noindex" />
    <meta name="format-detection" content="telephone=no">
    block head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      try{
        eval("(()=>{;;})()")
      }
      catch(e){
        document.location.href="badbrowser.html"
      }
    script(src="/javascripts/axios.js")
  body
    block content
      .tower
