extends layout

block head
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
        .mLeft{
            margin-left: 100px;
        }
        .adminBottom{
            align-content: baseline;
        }
        .QrWr img{
            width: 100%;
        }
        .QrWr{
            width: 367px;
            position: fixed;
            bottom: 40px;
            right: 40px;
        }

block content
    .tower#app
        .adminBottom
            .voteWr(v-if="vote.length>0" v-for="v in vote" v-bind:class="{ noRes:!v.iscompl}")
                .voteTitle(v-bind:class="{left:v.iscompl}" style="margin-bottom: 27px;") {{v.title}}

                .voteComplBox(v-bind:class="{mLeft:!v.iscompl}")
                    .votingItem(v-for="item in v.answers")
                        .votingItemTitle {{item.title}}
                        .votingItemRes(v-if="v.iscompl")
                            .votingItemResStart &nbsp;
                                span(v-if="v.iscompl") {{getPercent(v.total, item.count)}}
                            .votingItemResEnd(v-if="v.iscompl" v-bind:style="{width:getPercent(vote[0].total, item.count)}") &nbsp;
            .QrWr(v-if="vote.length==1")
                img(src="/images/qr.jpg")


    script(src="/javascripts/vue.min.js")
    script(src="/javascripts/moment.min.js")
    style.
        body{width:1920px;height:1280px;overflow: hidden}
        .voteWr{position: inherit; border-radius:40px;}
        .adminBottom{
            display: flex;
            align-content: center;
            flex-wrap: wrap;}
        .voteTitle{
            margin-bottom: 78px;
            font-weight: 500;
            font-size: 52px;
            line-height: 60px;
        }
        .votingItem{

            color: #FFFFFF;
            font-size: 42px;
            margin-bottom: 12px;
            line-height: 48px;
            padding: 8px 0;
        }
        .votingItemResStart{
            width:175px;
        }
    script.
        var app = new Vue({
            el: "#app",
            data: {
                vote: []
            },
            methods: {
                getCalcPercent: function (total, count) {

                    var perc = getPercent(total, count);
                    return 'calc(100% - ' + perc + ')';
                },
                getPercent: function (total, count) {
                    if (total == 0)
                        return "0%"
                    var perc = (parseFloat(count) / parseFloat(total) * 100);
                    return perc.toPrecision(4) + "%"
                },
                updateStatus: async function () {
                    try {
                        var d = await axios.get("/status/");

                        this.vote = d.data.vote
                        console.log(this.vote)
                    }
                    catch (e){
                        console.warn(e);
                    }
                    setTimeout(() => {
                        this.updateStatus();
                    }, 5 * 1000)
                }
            },
            mounted: function () {
                this.updateStatus();

            }
        })

